{{> dashboardnavbar}}

<div class="container-lg">
  <div class="row pt-4">

    <div class="col-md-9">

      <button type="button" class="btn btn-success btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#addClass">Add Class</button>
      <div id="addClass" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="/classes" method="post">
              <div class="modal-body">
                <div class="row">
                  <div class="col input-group mb-3">
                    <span class="input-group-text">Section</span>
                    <input type="text" class="form-control" name="section" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col input-group mb-3">
                    <label class="input-group-text" for="subject">Subject</label>
                    <select class="form-select" name="subject" required>
                      <option value="">Choose a Subject...</option>
                      {{#each subjects}}
                        <option value={{this._id}}>{{this.title}}({{this.code}})</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col input-group mb-3">
                    <label class="input-group-text" for="teacher">Teacher</label>
                    <select class="form-select" name="teacher" required>
                      <option value="">Choose a Teacher...</option>
                      {{#each teachers}}
                        <option value={{this._id}}>{{this.firstname}} {{this.lastname}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col input-group">
                    <span class="input-group-text">Time Start</span>
                    <input type="text" class="form-control" name="timeStart" required>
                  </div>
                  <div class="col input-group">
                    <span class="input-group-text">Time End</span>
                    <input type="text" class="form-control" name="timeEnd" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col input-group">
                    <label class="input-group-text" for="day">Day</label>
                    <select class="form-select" name="day" required>
                      <option value="">Choose a Day...</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                      <option value="Saturday">Saturday</option>
                      <option value="Sunday">Sunday</option>
                    </select>
                  </div>
                  <div class="col input-group">
                    <span class="input-group-text">Room</span>
                    <input type="text" class="form-control" name="room" required>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <h5>Sections</h5>
        <div class="d-flex flex-wrap gap-3">
          {{#each sections}}
            <span class="badge bg-warning">{{this.name}}</span>
          {{/each}}
        </div>
      </div>
      <div class="table-responsive">
        <h5>Classes</h5>
        <table class="table table-sm">
          <thead>
            <th>Section</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Time | Day</th>
            <th>Room</th>
            <th>Students</th>
            <th>Action</th>
          </thead>
          <tbody>
            {{#each classes}}
            <tr>
              <td class="text-nowrap">{{this.section.name}}</td>
              <td class="text-nowrap">{{this.subject.title}} ({{this.subject.code}})</td>
              <td class="text-capitalize text-nowrap">{{this.teacher.firstname}} {{this.teacher.lastname}}</td>
              <td class="text-nowrap">{{this.timeStart}} - {{this.timeEnd}} | {{this.day}}</td>
              <td class="text-nowrap">{{this.room}}</td>
              <td>{{this.student.length}}</td>
              <td class="d-flex justify-content-center align-items-center">
                <button type="button" class="badge rounded-pill bg-primary border-0">Edit</button>
                <form class="delClassForm" action="/classes/{{this._id}}?_method=DELETE" method="post">
                  <!-- <input type="hidden" name="classId" value="{{this._id}}"> -->
                  <button type="submit" class="badge rounded-pill bg-danger border-0">Delete</button>
                </form>
                <!-- <button type="button" class="badge rounded-pill bg-danger border-0">Delete</button> -->
                <!-- <button type="button" class="badge rounded-pill bg-success border-0 addStudentBtn" data-classesfetchurl={{this.classesfetchurl}} data-studentsfetchurl={{this.studentsfetchurl}}>Add Student</button> -->
                <button type="button" class="badge rounded-pill bg-success border-0 addStudentBtn" data-classesfetchurl="{{this.classesfetchurl}}/api/classes/{{this._id}}" data-studentsfetchurl="{{this.studentsfetchurl}}/api/users/students">Add Student</button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-3">
      <p id="section">Section: </p>
      <p id="subject">Subject: </p>
      <p id="teacher">Teacher: </p>
      <p id="timeDay">Time|Day: </p>
      <p id="room">Room: </p>
      <form id="addStudentForm" method="post">
        <input type="hidden" id="classId" name="classId">
        <input id="searchInput" type="search" class="form-control form-control-sm mb-3" placeholder="Type to search students" disabled>
        <div class="studentsCheckbox"></div>
        <div class="d-grid gap-2">
          <input type="submit" class="btn btn-primary btn-sm addStudentSubmitBtn" value="Submit" disabled>
          <input type="button" class="btn btn-danger btn-sm addStudentCancelBtn" value="Cancel">
        </div>
      </form>
    </div>

    </div>
  </div>
</div>

{{> messages}}
