<div class="container-lg mt-5">
  <div class="row pt-4">

    <div class="col-lg-6 col-md-6">
      <table class="table table-sm table-bordered small text-white" id="usersTable">
        <thead>
          <th>Username</th>
          <th>Role</th>
          <th>Action</th>
        </thead>
        {{#each users}}
          <tr data-id="{{this._id}}">
            <td class="text-capitalize">{{this.username}}</td>
            <td class="text-capitalize">{{this.role}}</td>
            <td class="d-flex">
              <button type="button" class="border-0 bg-transparent editUserBtn" data-url="/api/users/{{this._id}}"><i class="bi bi-pencil-fill text-primary"></i></button>
              <button type="submit" class="border-0 bg-transparent deleteUserBtn" data-url="/api/users/{{this._id}}"><i class="bi bi-trash3-fill text-danger"></i></button>
            </td>
          </tr>
        {{/each}}
      </table>
    </div>

    <div class="col-lg-4 col-md-4">
      <form id="userForm" class="small">
        <div class="mb-3">
          <label for="username" class="form-label text-white">Username</label>
          <input type="text" class="form-control form-control-sm" id="username" name="username" value="" disabled>
        </div>
        <div class="mb-3 text-white">
          <p class="text-center">Roles</p>
          <div class="d-flex justify-content-around align-items-center">
            <div class="">
              <input type="radio" name="role" id="basic" class="radioRoleBtn" value="basic" disabled>
              <label for="basic">Basic</label>
            </div>
            <div class="">
              <input type="radio" name="role" id="student" class="radioRoleBtn" value="student" disabled>
              <label for="student">Student</label>
            </div>
            <div class="">
              <input type="radio" name="role" id="teacher" class="radioRoleBtn" value="teacher" disabled>
              <label for="teacher">Teacher</label>
            </div>
            <!-- <div class="">
              <input type="radio" name="role" id="admin" class="radioRoleBtn" value="admin" disabled>
              <label for="admin">Admin</label>
            </div> -->
          </div>
        </div>
        <div id="editBtnGroup" class="d-grid gap-2 mb-3">
          <button type="submit" class="btn btn-primary btn-sm" id="submitEditUserBtn" disabled>Edit</button>
          <button type="button" class="btn btn-danger btn-sm" id="cancelEditUserBtn">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>
