{{> dashboardnavbar}}

<div class="container-lg">
  <div class="row">

    <div class="col pt-4">
      <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addSubject">Add Subject</button>
      <div id="addSubject" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">

            <form action="/subjects" method="post">
              <div class="modal-body">
                <div class="row">
                  <div class="col input-group mb-3">
                    <label class="input-group-text" for="year">Year</label>
                    <select class="form-select" name="year">
                      <option selected>Choose Year...</option>
                      <option value="1st Year">1st Year</option>
                      <option value="2nd Year">2nd Year</option>
                      <option value="3rd Year">3rd Year</option>
                      <option value="4th Year">4th Year</option>
                    </select>
                  </div>
                  <div class="col input-group mb-3">
                    <label class="input-group-text" for="semester">Trimester</label>
                    <select class="form-select" name="semester">
                      <option selected>Choose Trimester...</option>
                      <option value="1st Trimester">1st Trimester</option>
                      <option value="2nd Trimester">2nd Trimester</option>
                      <option value="3rd Trimester">3rd Trimester</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col input-group mb-3">
                    <span class="input-group-text">Code</span>
                    <input type="text" class="form-control" name="code" placeholder="Code">
                  </div>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">Title</span>
                  <input type="text" class="form-control" name="title" placeholder="Title">
                </div>
                <div class="row">
                  <div class="col input-group mb-3">
                    <span class="input-group-text">Pre-requisite</span>
                    <input type="text" class="form-control" name="prerequisite" placeholder="Pre-requisite">
                  </div>
                  <div class="col input-group mb-3">
                    <span class="input-group-text">Units</span>
                    <input type="text" class="form-control" name="units" placeholder="Units">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <a href="/chapters" class="btn btn-primary btn-sm">Add Chapters</a>

      <table class="table table-sm caption-top mb-5">
        <caption>1st Year</caption>
        <thead>
          <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Units</th>
            <th>Prerequisite</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each subjects}}
          {{#if this.firstYear}}
          <tr>
            <td>{{this.code}}</td>
            <td class="w-50">{{this.title}}</td>
            <td>{{this.units}}</td>
            <td>{{this.prerequisite}}</td>
            <!-- <td><a class="badge rounded-pill bg-primary" href="/subjects/{{this._id}}/chapters">Add Chapter</a></td> -->
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>

      <table class="table table-sm caption-top mb-5">
        <caption>2nd Year</caption>
        <thead>
          <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Units</th>
            <th>Prerequisite</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each subjects}}
          {{#if this.secondYear}}
          <tr>
            <td>{{this.code}}</td>
            <td class="w-50">{{this.title}}</td>
            <td>{{this.units}}</td>
            <td>{{this.prerequisite}}</td>
            <!-- <td><a class="badge rounded-pill bg-primary" href="/subjects/{{this._id}}/chapters">Add Chapter</a></td> -->
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>

      <table class="table table-sm caption-top mb-5">
        <caption>3rd Year</caption>
        <thead>
          <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Units</th>
            <th>Prerequisite</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each subjects}}
          {{#if this.thirdYear}}
          <tr>
            <td>{{this.code}}</td>
            <td class="w-50">{{this.title}}</td>
            <td>{{this.units}}</td>
            <td>{{this.prerequisite}}</td>
            <!-- <td><a class="badge rounded-pill bg-primary" href="/subjects/{{this._id}}/chapters">Add Chapter</a></td> -->
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>

      <table class="table table-sm caption-top mb-5">
        <caption>4th Year</caption>
        <thead>
          <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Units</th>
            <th>Prerequisite</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each subjects}}
          {{#if this.fourthYear}}
          <tr>
            <td>{{this.code}}</td>
            <td class="w-50">{{this.title}}</td>
            <td>{{this.units}}</td>
            <td>{{this.prerequisite}}</td>
            <!-- <td><a class="badge rounded-pill bg-primary" href="/subjects/{{this._id}}/chapters">Add Chapter</a></td> -->
          </tr>
          {{/if}}
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>
