<div class="container-lg">
  {{> addSubjectModal}}

  <h2 class="fw-bold text-center mt-5">1st Year</h2>
  {{{firstYearFirstTrimester subjects}}}
  {{{firstYearSecondTrimester subjects}}}
  {{{firstYearThirdTrimester subjects}}}
  
  <h2 class="fw-bold text-center mt-5">2nd Year</h2>
  {{{secondYearFirstTrimester subjects}}}
  {{{secondYearSecondTrimester subjects}}}
  {{{secondYearThirdTrimester subjects}}}
  
  <h2 class="fw-bold text-center mt-5">3rd Year</h2>
  {{{thirdYearFirstTrimester subjects}}}
  {{{thirdYearSecondTrimester subjects}}}
  {{{thirdYearThirdTrimester subjects}}}
  
  <h2 class="fw-bold text-center mt-5">4th Year</h2>
  {{{fourthYearFirstTrimester subjects}}}

</div>
