<button type="button" class="btn btn-success btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#addClass">Add Class</button>
<div id="addClass" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <form action="/classes" method="post">
            <div class="modal-body">
            <div class="row">
                <div class="col input-group mb-3">
                <span class="input-group-text">Section</span>
                <input type="text" class="form-control" name="section" required>
                </div>
            </div>
            <div class="row">
                <div class="col input-group mb-3">
                <label class="input-group-text" for="subject">Subject</label>
                <select class="form-select" name="subject" required>
                    <option value="">Choose a Subject...</option>
                    {{#each subjects}}
                    <option value={{this._id}}>{{this.title}}({{this.code}})</option>
                    {{/each}}
                </select>
                </div>
            </div>
            <div class="row">
                <div class="col input-group mb-3">
                <label class="input-group-text" for="teacher">Teacher</label>
                <select class="form-select" name="teacher" required>
                    <option value="">Choose a Teacher...</option>
                    {{#each teachers}}
                    <option value={{this._id}}>{{this.firstname}} {{this.lastname}}</option>
                    {{/each}}
                </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col input-group">
                <span class="input-group-text">Time Start</span>
                <input type="text" class="form-control" name="timeStart" required>
                </div>
                <div class="col input-group">
                <span class="input-group-text">Time End</span>
                <input type="text" class="form-control" name="timeEnd" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col input-group">
                <label class="input-group-text" for="day">Day</label>
                <select class="form-select" name="day" required>
                    <option value="">Choose a Day...</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                </div>
                <div class="col input-group">
                <span class="input-group-text">Room</span>
                <input type="text" class="form-control" name="room" required>
                </div>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>