{{> dashboardnavbar}}

<div class="container mt-3">
  <h4>{{subject.title}} ({{subject.code}})</h4>
  <h5>Chapters</h5>

  <div class="mt-5">
    <!-- <div class="accordion" id="lessons">
      {{#each chapters}}
        <div class="accordion-item">
          <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter{{this._id}}">{{this.title}}</button>
          </h2>
          <div id="chapter{{this._id}}" class="accordion-collapse collapse" data-bs-parent="#lessons">
            <div class="accordion-body">{{{this.markedHtml}}}</div>
          </div>
        </div>
      {{/each}}
    </div> -->

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {{#each chapters}}
      <li class="nav-item" role="presentation">
        <button type="button" class="nav-link" id="pills-{{this._id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{this._id}}" role="tab">{{this.title}}</button>
      </li>
    {{/each}}
  </ul>
  <div class="tab-content" id="pills-tabContent">
    {{#each chapters}}
      <div class="tab-pane fade" id="pills-{{this._id}}" role="tabpanel">
        <div class="d-grid gap-2 d-flex justify-content-end">

          <button type="button" class="badge bg-primary border-0" data-bs-toggle="modal" data-bs-target="#quizModal">Quiz</button>
          <div class="modal fade" id="quizModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  {{this.subject.title}} | {{this.title}} - Quiz
                </div>

                {{#if this.quiz.isQuizAnswered}}
                  <div class="modal-footer justify-content-start">
                    Score: {{this.quiz.score}}/{{this.quiz.questionsLength}}
                  </div>
                {{else}}
                  <div class="modal-footer">
                    <a href="/questions/quiz/chapter/{{this._id}}" class="btn btn-sm btn-primary">Take Quiz</a>
                  </div>
                {{/if}}

              </div>
            </div>
          </div>

          <button type="button" class="badge bg-primary border-0" data-bs-toggle="modal" data-bs-target="#pretestModal">Pre Test</button>
          <div class="modal fade" id="pretestModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  {{this.subject.title}} | {{this.title}} - Pre Test
                </div>

                {{#if this.pretest.isPretestAnswered}}
                  <div class="modal-footer justify-content-start">
                    Score: {{this.pretest.score}}/{{this.pretest.questionsLength}}
                  </div>
                {{else}}
                  <div class="modal-footer">
                    <a href="/questions/pretest/chapter/{{this._id}}" class="btn btn-sm btn-primary">Take Pre Test</a>
                  </div>
                {{/if}}

              </div>
            </div>
          </div>

          <button type="button" class="badge bg-primary border-0" data-bs-toggle="modal" data-bs-target="#posttestModal">Post Test</button>
          <div class="modal fade" id="posttestModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  {{this.subject.title}} | {{this.title}} - Post Test
                </div>

                {{#if this.posttest.isPosttestAnswered}}
                  <div class="modal-footer justify-content-start">
                    Score: {{this.posttest.score}}/{{this.posttest.questionsLength}}
                  </div>
                {{else}}
                  <div class="modal-footer">
                    <a href="/questions/posttest/chapter/{{this._id}}" class="btn btn-sm btn-primary">Take Post Test</a>
                  </div>
                {{/if}}

              </div>
            </div>
          </div>

        </div>
        {{{this.markedHtml}}}
      </div>
    {{/each}}
  </div>
</div>
