<div class="container mt-5">
  <div class="row g-4">
    {{#each classes}}
      <div class="col-md-6">
        <a href="/subjects/{{this.subject._id}}/chapters" class="text-decoration-none">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-capitalize">{{this.subject.title}} <span class="text-uppercase">({{this.subject.code}})</span></h5>
              <p class="card-text">{{this.year}} {{this.semester}}</p>
              <p class="card-text">{{this.day}} | {{this.room}}</p>
              {{!-- <p class="card-text">{{this.timeStart}} - {{this.timeEnd}}</p> --}}
              <p class="card-text">{{formatTime this.timeStart this.timeEnd}}</p>
              <p class="card-text">{{this.subject.chapters.length}} Chapters</p>
              {{!-- <p class="card-text">(Subject ID {{this.subject._id}}) Chapters Length ???</p> --}}
            </div>
          </div>
        </a>
      </div>
    {{/each}}

  </div>
</div>
